POSTGRES_PASSWORD="{{ postgres_password }}"
POSTGRES_DB="{{ postgres_database }}"

GITHUB_CLIENT="{{ github_client }}"
GITHUB_CLIENT_SECRET="{{ github_client_secret }}"

JWT_SECRET="{{ albs_jwt_secret }}"
ALTS_HOST="http://alts-scheduler:8000"
ALTS_TOKEN="{{ alts_jwt_token }}"

RABBITMQ_ERLANG_COOKIE="PyekdgANDctdPgRzU8AVaRBK"
RABBITMQ_DEFAULT_USER="{{ rabbitmq_user }}"
RABBITMQ_DEFAULT_PASS="{{ rabbitmq_pass }}"
RABBITMQ_DEFAULT_VHOST="{{ rabbitmq_vhost }}"
