---
threads_count: 4
working_dir: /srv/alternatives/castor/build_node
pulp_host: {{ build_node_pulp_host }}
pulp_user: {{ build_node_pulp_user }}
pulp_password: {{ build_node_pulp_password }}
jwt_token: {{ build_node_jwt_token }}
master_url: {{ build_node_master_url }}
base_arch: {{ build_node_arch }}
